.map-container {
    width: 100%;
    height: 100%;
}

.leaflet-control-geocoder {
    background-color: #F6C66C !important;
}

.leaflet-control-geocoder-form input {
    background-color: #F6C66C !important;
}

 .leaflet-control-geocoder .leaflet-control-geocoder-icon {
    background-color: #F6C66C !important;
    color: #ffffff !important;
}


.leaflet-control-geocoder {
    z-index: 1000; /* Ensure it appears above other elements */
    width: 45vh;
    background-color: #F6C66C;
}

.leaflet-control-geocoder .leaflet-bar {
    background-color: #F6C66C;
}

.leaflet-control-geocoder input {
    background-color: #F6C66C
}


.leaflet-control-geocoder .leaflet-control-geocoder-form {
    display: inline-block;
    background-color: #F6C66C;
}

.leaflet-routing-container {
    display: none; /* Hide the itinerary container */
}

.map-buttons {
    z-index: 1000;
    position: absolute;
}

.menu {
    position: absolute;
    left: 7vh;
    top: 1.5vh;
    width: 9vh;
    height: 4vh;
    border-radius: 5px 0 0 5px;
    background-color: #F6C66C;
    border: transparent;
    color: #004E9D;  
    font-size: 2vh;
  }
  
.undo {
    position: absolute;
    left: 16vh;
    top: 1.5vh;
    width: 9vh;
    height: 4vh;
    background-color: #F6C66C;
    border: transparent;
    color: #004E9D;  
    font-size: 2vh;
  }
  
.clear {
    position: absolute;
    left: 25vh;
    top: 1.5vh;
    width: 9vh;
    height: 4vh;
    border-radius: 0 5px 5px 0;  
    background-color: #F6C66C;
    border: transparent;
    color: #004E9D;  
    font-size: 2vh;
  }

.save-button {
    position: absolute;
    z-index: 10000;
    height: max-content;
    width: max-content;
    left: 50%;
    bottom: 1.5vh;
    transform: translateX(-50%);
    background-color: #F6C66C;
    border-radius: 5px 5px 5px 5px;
  }
  
.save-button button {
    z-index: 1000;
    height: 5vh;
    width: 50vh;
    background-color: #F6C66C;
    border-color: transparent;
    border-radius: 5px 5px 5px 5px;
  }

.leaflet-control-container .leaflet-top .leaflet-control-zoom{ 
    background-color: #F6C66C;
    width: 4vh;
}

.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in { 
    background-color: #F6C66C;
    color: #004E9D;
    width: 4vh;
}

.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out { 
    background-color: #F6C66C;
    color: #004E9D;
    width: 4vh;
}

.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out { 
    background-color: #F6C66C; 
}